<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr982t-m4Ja-QNgaJIR9YM1n5dJoP6OBE</string>
	<key>GCM_SENDER_ID</key>
	<string>668748941843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kythanh.NatureID</string>
	<key>PROJECT_ID</key>
	<string>natureid-e46ed</string>
	<key>STORAGE_BUCKET</key>
	<string>natureid-e46ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668748941843:ios:33d7d599cbf1f8e233cde6</string>
</dict>
</plist>